* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: hsl(0deg, 0%, 60%);
}

.max-width-wrapper {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-top: 96px;
  margin-bottom: 64px;
  font-size: 2rem;
}

.intro-chunk {
  max-width: 400px;
  padding: 24px;

  font-size: 1.25rem;
}
strong {
  color: hsl(160deg, 100%, 30%);
}

section {
  margin-top: 96px;
}
.card {
  padding: 8px 24px;
}

header,
.card {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 100%);
}

.indented-heading {
  width: fit-content;
  font-size: 1.25rem;

  margin: 0px;
  margin-left: -48px;
  padding: 16px 48px;

  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}
